.date{
    display: table-cell;
    vertical-align: center;
    text-align: center;
    width: 50%;
}

.doc_name{
    display: table-cell;
    text-align: center;
    width: 50%;
    font-size: 20px;
    vertical-align: middle;
}

.time{
    font-size: 20px;
    vertical-align: middle;
    min-width: 100px;
    min-height: 50px;
}

.header{
    display: table-cell;
    text-align: center;
    font-style: bold;
}


.days{
    display: table-cell;
    text-align: center;
    min-width: 100px;
    max-width: 100px;
    padding: 0;
    margin: 0;
}

.tbl{
    width: 100%;
    height: 70px;
    vertical-align: middle;
    text-align: center;
}

.header_doc{
    display: table-cell;
    font-style: bold;
    vertical-align: middle;
    text-align: center;
}

.header_day{
    display: table-cell;
    font-style: bold;
    min-width: 100px;
    max-width: 100px;
    vertical-align: middle;
    text-align: center;
    font-size: 15px;
}

.doctor{
    display: table;
    width: 100%;
}

.change_interval{
    display: table;
    align: center;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    vertical-align: middle;
}

.change_cells{
    display: table-cell;
    text-align: center;
    font-style: bold;
    width: 50%;
    vertical-align: middle;
    text-align: center;
}

.change_btn{
    font-style: bold;
    width: 50%;
    float: left;
    vertical-align: middle;
    text-align: center;

}

.change{
    font-style: bold;
    vertical-align: middle;
    text-align: center;
}

.row {
    display: table-row;
    width: 100%;
    padding-top: 20px;
}


.btn_text{
    vertical-align: middle;
}