{% extends "appointment.html" %}

{% block step_content %}
<link href="/static/css/doctor.css" rel="stylesheet">
    <section>
        <div class="change_interval">
            <div class="row">
                <div class="change_cells">
                    <div class="change_btn"><p align="center">С {{week[0][0]}} {{week[0][1]}} по {{week[-1][0]}} {{week[-1][1]}}</p></div>
                    {% if not today %}
                    <div class="change_btn"><a href="/change_interval/3" class="btn btn-primary">Вернуться</a></div>
                    {% else %}
                    <div class="change_btn"><a class="btn btn-secondary">Вернуться</a></div>
                    {% endif %}
                </div>
                <div class="change_cells">
                    {% if not today %}
                        <div class="change_btn"><a href="/change_interval/2" class="btn btn-primary"><</a></div>
                    {% else %}
                        <div class="change_btn"><a class="btn btn-secondary"><</a></div>
                    {% endif %}
                    <div class="change_btn"><a href="/change_interval/1" class="btn btn-primary">></a></div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="doctor">
            <div class="row">
                <div class="header_doc">Врач</div>
                {% for i in range(7) %}
                    {% if i == 0 and today %}
                        <div class="header_day">Сегодня<br>{{ week[i][1] }}</div>
                    {% else %}
                        <div class="header_day">{{ week[i][0] }}<br>{{ week[i][1] }}</div>
                    {% endif %}
                {% endfor %}
            </div>
            {% for doc in doctors %}
            {% set nodeloop = loop %}
            <div class="row">
                <div class="doc_name">
                    {{ doc["name"] }}<br>{{ doc["primary_spec"] }}
                </div>
                {% for i in range(7) %}
                <div class="days">
                    {% if doc["schedules"][i] != []%}
                    {% if i == 0 and today %}
                        {% if int(doc["schedules"][i]["start"].split(":")[0]) * 60
                            + int(doc["schedules"][i]["start"].split(":")[1]) <= time and
                            time <= int(doc["schedules"][i]["end"].split(":")[0]) * 60
                            + int(doc["schedules"][i]["end"].split(":")[1]) and doc["schedules"][i]["free"]%}
                            <a class="btn btn-success" href="/select_doc/{{ nodeloop.index - 1 }}/{{ i }}"><p class="fs-4">{{ doc["schedules"][i]["start"] }} - {{ doc["schedules"][i]["end"] }}</p></a>
                        {% else %}
                            <a class="btn btn-secondary"><p class="fs-4">{{ doc["schedules"][i]["start"] }} - {{ doc["schedules"][i]["end"] }}</p></a>
                        {%endif%}
                    {% else %}
                        {% if doc["schedules"][i]["free"]%}
                            <a class="btn btn-success" href="/select_doc/{{ nodeloop.index - 1 }}/{{ i }}"><p class="fs-4">{{ doc["schedules"][i]["start"] }} - {{ doc["schedules"][i]["end"] }}</p></a>
                        {% else %}
                            <a class="btn btn-secondary"><p class="fs-4">{{ doc["schedules"][i]["start"] }} - {{ doc["schedules"][i]["end"] }}</p></a>
                        {%endif%}
                    {% endif %}
                    {% else %}
                        <a class="btn btn-secondary"><p class="fs-3">Нет приёма</p></a>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}