{% extends "base.html" %}

{% block content %}
<h1>Управление пользователем</h1>
<form action="" method="POST">
    {{ form.hidden_tag() }}
    <div class="table-info">
        <div class="row row-info">
            <div class="col col-info col-auto">Телефон:</div>
            <div class="col col-info col-auto">{{ user.phone }}</div>
        </div>
        <div class="row row-info">
            <div class="col col-info col-auto">Роль пользователя:</div>
            <div class="col col-info col-auto">{% if user.type_of_user == user.SUPERADMIN %} Супер&#8209;Админ
                {% elif user.type_of_user == user.ADMIN %} Администратор
                {% elif user.type_of_user == user.PATIENT %} Пациент
                {% else %} Доктор
                {% endif %}
            </div>
        </div>
        <div class="row row-info">
            <div class="col col-info col-auto">Изменить роль:</div>
            <div class="col col-info col-auto">
                <div class="row row-info">
                    {% if current_user.type_of_user == current_user.SUPERADMIN %}
                    <a href="/redefine_role/admin/{{user.id}}" class="col col-info btn btn-light">
                        Администратор</a>
                    {% endif %}
                    <a href="/redefine_role/patient/{{user.id}}" class="col col-info btn btn-light">
                        Пациент</a>
                    <a href="/redefine_role/doctor/{{user.id}}" class="col col-info btn btn-light">
                        Доктор</a>
                </div>
            </div>
        </div>
        {% if user.type_of_user >= user.PATIENT %}
        <div class="row row-info">
            <div class="col col-info col-auto">
                {% if user.type_of_user == user.PATIENT %}Номер мед. карты{% else %}
                ID доктора{% endif %}:
            </div>
            <div class="row row-info">
                <div class="col col-info col-auto">
                    {{ form.med_card_id(class="form-control", type='integer') }}
                    {% for error in form.med_card_id.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                    {% endfor %}
                </div>
                <div class="col col-info col-auto">
                    {{ form.submit(type="submit", class="btn btn-primary") }}
                </div>
            </div>
        </div>
        {% endif %}
        <div class="row row-info">
            <div class="col col-info col-auto">
                <a href="/delete/{{user.id}}" class="col col-info btn btn-danger">Удалить</a>
            </div>
        </div>
    </div>
    {{ message }}
</form>
{% endblock %}