{% extends "base.html" %}

{% block content %}
    <link href="static/css/lk_card.css" rel="stylesheet">
    <div class="base"> <!-- мб переделать на нестатичную -->
    <div class="visit">
    <h2 align="center">Моя<br>Карта</h2>
    <div class="card">
       <div class="card-avatar">
          <img src="../static/img/patient.png">
       </div>
       <div class="card-details">
          <div class="name">{{ patient["last_name"] }} {{ patient["first_name"] }} {{ patient["middle_name"] }}</div>
          <div class="occupation">Пациент</div>
          <div class="card-about">
             <div class="item">
                <span class="value">Email:</span>
                <span class="label">{{ patient["email"] }}</span>
             </div>
          </div>
           <div class="card-about">
             <div class="item">
                <span class="value">Birthday:</span>
                <span class="label">{{ patient["birthdate"] }}</span>
             </div>
          </div>
       </div>
    </div>
        <div class="info"><a class="btn btn-success" href="/">Записаться на приём</a></div>
    </div>
    <div class="notes">
        <h2 align="center">Мои<br>Записи</h2>
        <div align="center" style="overflow:scroll;">
            {% for note in notes %}
                {% if note["status_id"] == 1 %}
                    <a href='/check_note/{{ note["id"] }}' class='btn btn-success' style='width: 100%;'><div>{{ note["docs"][0]["type"]
                        }}</div><br><div style="float: left">{{ note["date"] }}</div><div style="float: right">{{ ":".join(note["begintime"].split(":")[:2]) }}</div></a><br>
                {% elif note["status_id"] == 3 %}
                    <a href='/check_note/{{ note["id"] }}' class='btn btn-secondary' style='width: 100%;'><div>{{ note["docs"][0]["type"]
                        }}</div><br><div style="float: left">{{ note["date"] }}</div><div style="float: right">{{ ":".join(note["begintime"].split(":")[:2]) }}</div></a><br>
                {% elif note["status_id"] == 4 %}
                    <a href='/check_note/{{ note["id"] }}' class='btn btn-danger' style='width: 100%;'><div>{{ note["docs"][0]["type"]
                        }}</div><br><div style="float: left">{{ note["date"] }}</div><div style="float: right">{{ ":".join(note["begintime"].split(":")[:2]) }}</div></a><br>
                {% endif %}
            {% endfor %}
        </div>
    </div>
         <!-- тут контактная информация -->
    </div>
{% endblock %}